@page
@model Asssetmanagement3._2.Pages.MakatiDesktop.DetailsModel

@{
    ViewData["Title"] = "Details";

}



    

<div>
    <h4>Desktop</h4>

  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.CurrentUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.CurrentUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.Processor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.Processor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.RAM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.RAM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.MonitorBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.MonitorBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.MonitorSerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.MonitorSerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.CreatedByUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.ModifiedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.ModifiedByUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desktop.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desktop.ModifiedDate)
       
    </dl>


</div>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Desktop.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

